.home-root {
  height: flex;
  width: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: '';
  box-sizing: border-box;
}

.home-card {
  box-shadow: 0 8px 32px 0 rgba(179, 12, 140, 0.15);
  border-radius: 16px;
  padding: 24px;
  background: #fff;
}